// mixin for media querries (handheld, small-screen)
// Syntax   @include respond-to(handheld) {
//            width: 100%;
//          }

@mixin respond-to($media) {

  @if $media == handheld {
    @media only screen and (max-width: $break-small) { @content; }
  }

  @else if $media == small-screen {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium) { @content; }
  }

  @else if $media == medium-screen {
    @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large) { @content; }
  }

  @else if $media == large-screen {
    @media only screen and (min-width: $break-large + 1) { @content; }
  }
}

// mixin to prefix (multiple) properties
// Syntax   @include prefix((
//            column-count: 3, 
//            column-gap: 1em
//          ), moz webkit);

@mixin prefix($declarations, $prefixes: (moz webkit)) {
  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }

    #{$property}: $value;
  }
}

// mixin for type setting
@mixin type-setting($factor, $line-height-factor: 1) {
  font-size: $factor * $base-font-size;
  line-height: $line-height-factor * $line-height;
}

@mixin content-brackets($before, $after) {
  &:before {
    content: $before;
    margin-right: .1em;
  }

  &:after {
    content: $after;
    margin-left: .1em;
  }
}

// clearfix placeholder

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
