// sizes
$unit: .2rem;
$gutter: 10 * $unit;

// font
$font-family: Courier;
$font-size: 1.05em;
$line-height: 1.2em;

// colors
$link-color: black;
$link-hover-color: black;
$control-color: blue;
$error-color: red;

// breakpoints
$break-small: 375px;
$break-large: 1200px;
