// sizes
$unit: .2rem;
$gutter: 10 * $unit;

// font
$font-family: Courier;
$base-font-size: 1.05em;
$font-size: 1.05em;
$line-height: 1.2em;

// colors
$link-color: black;
$link-hover-color: black;
$control-color: blue;
$error-color: red;
$error-text-color: yellow;

// breakpoints
$break-small: 375px;
$break-medium: 1200px;
$break-large: 1900px;

// widths
$width-s: $break-small;
$width-m: 600px;

// grid
$grid-column-gap: 5 * $unit;
$grid-column-count: 12;
