// sizes
$unit: .2rem;
$gutter: 10 * $unit;

// font
$font-family: Courier;
$base-font-size: 1.05em;
$font-size: 1.05em;
$line-height: 1.2em;

// colors
$link-color: black;
$link-hover-color: black;
$control-color: blue;

// breakpoints
$break-small: 375px;

// widths
$width-s: $break-small;
$width-m: 600px;
