@import 'form_fields';

.s-form {
  margin-bottom: $line-height;
  // max-width: 400px;

  &__row {
    margin-bottom: .25 * $line-height;

    &--inline {
      
      .s-form__group,
      .s-form__controls {
        display: inline-block;
        margin-right: 2 * $unit;
      }
      
      .s-form__group {
        @extend .s-form__group--inline;
      }
      
      .s-form__controls {
        @extend .s-form__controls--inline;
      }
    }
  }

  &__group {

    &--inline {

      * {
        display: inline-block !important;
        width: auto !important;
        margin-right: 2 * $unit;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &--with-errors {

      .s-form__control {
        border: 1px solid $error-color !important;
      }
    }
  }

  &__controls {
    @extend .s-controls;

    &--inline {
      display: inline-block !important;
    }
  }

  &__errors {
    @extend .s-type--error;
  }
}

.s-form__select-group {
  display: flex;
  flex-flow: row nowrap;

  @include respond-to(handheld) {
    flex-flow: row wrap;
  }
}
