// form

.skrw-form {
  @extend .skrw;
  padding: 0 $unit;

  &--small { max-width: $break-small; }
  &--medium { max-width: $break-medium; }
}

// form controls (inputs, labels, etc)

.skrw-form__control {
  margin-bottom: .5 * $line-height;

  label, input, textarea, select {
    display: block;
    width: 100%;
  }

  label.checkbox {
    display: inline;
    width: auto;

    input {
      display: inline;
      width: auto;
      margin: 0 $unit 0 0;
    }
  }

  input:not([type="submit"]), textarea {
    padding: 0.2rem;
    border: 1px solid $font-color;
  }

  textarea { resize: vertical; }

  input[type="submit"] { border: none; }

  &--buttons {
    @extend .skrw-form__control--row;
    @extend .skrw-controls;

    > * {
      width: auto !important;
    }
  }

  &--row {
    @include respond-to(small) {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;

      label {
        flex-grow: 0;
        width: auto;
      }

      input:not([type="submit"]), textarea, select {
        flex-grow: 1;
        width: auto;
      }

      > * {
        margin-right: .5 * $gutter;

        &:last-child { margin-right: 0; }
      }
    }
  }

  &--with-errors {
    input, textarea { border: 1px solid $error-color;}
  }

  &.date {

    select {
      display: inline-block;
      width: auto;
    }
  }
}

// nested forms & fields

.skrw-form__nested-fields {
  margin-bottom: $line-height;

  &__field {
    position: relative;
    margin-bottom: $line-height;

    @include respond-to(medium) {
      padding-left: 10 * $unit;
    }

    &:before {
      content: "===";
      display: block;

      @include respond-to(medium) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &:after {
      content: "----";
      display: block;
    }
  }

  &__controls { @extend .skrw-controls; }
}


// errors & hints

.skrw-form {
  .hint, .error {
    display: block;
    @extend .skrw-text--secondary;
  }

  .hint { color: lighten($font-color, 50%); }
  .error { color: $error-color; }
}
