.s-form {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;

  input, textarea, select {
    font-size: inherit;
    line-height: 1em;
  }

  input:not([type="checkbox"]):not([type="submit"]), 
  textarea, select {
    display: block;
    width: 100%;
  }

  input:not([type="checkbox"]):not([type="submit"]) {
    padding: .1em;
  }

  input:not([type="submit"]) {
    border: 1px solid black;
  }

  input[type="submit"] {
    background: none;
    border: none;
    font-family: inherit;
    @extend .s-control;
  }

  textarea {
    resize: vertical;
  }
}