.s-controls {
  
  > * {
    display: inline-block;
    @extend .s-control;
  }
}

.s-control {
  padding: 0 .2em;
  @extend .s-type--secondary;
  color: $control-color;
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: $control-color;
  }

  &:hover {
    color: $link-hover-color;
  }
}
