<div class="skrw-error">
  <strong><%= pluralize(object.errors.size, "error") %> occured:</strong>

  <% errors = object.errors.full_messages.map { |msg| "* #{msg}" } %>
  <%= errors.join(", ") %>
</div>
