<div class="skrw-errors">
  <strong><%= pluralize(object.errors.size, "error") %> occured:</strong>
  <% object.errors.full_messages.each do |error| %>
    <div class="skrw-error">*<%= error %>*</div>
  <% end %>
</div>
