<div class="skrw-error">
  <strong><%= pluralize(object.errors.size, "error") %> occured:</strong>
  <% object.errors.full_messages.each do |error| %>
    <div>*<%= error %>*</div>
  <% end %>
</div>
