<div class="instructions instructions--markdown" data-target="skrw-form.markdown">
  **<span class="skrw-link" data-action="click->skrw-form#toggleMarkdown">
    How to use markdown (md) text format?
  </span>**

<pre>
• put returns between paragraphs
• for single linebreaks add two spaces at the end of line
• wrap <em>_italic text_</em> with underscores
• wrap <strong>**bold text**</strong> with double asteriks
• make links using the syntax…
  … https://example.com for simple links
  … [text](https://address.com) for text links
</pre>
</div>
