.s-session {
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $unit (2 * $unit);
  padding-left: 2 * $line-height;
  background: yellow;

  &.s-session--minified {
    // @include prefix((transform: translateY(100%)));

    .s-session__secondary {
      display: none;
    }
  }
}

.s-session__primary__controls,
.s-session__secondary__controls {
  @extend .s-controls;
}

.s-session__toggler {
  position: absolute;
  top: $unit;
  left: 2 * $unit;
  width: $line-height;
  height: $line-height;
  border-radius: 50%;
  background: red;
  cursor: pointer;

  &:before {
    content: "X";
    display: block;
    width: 100%;
    text-align: center;
    line-height: $line-height;
  }

  .s-session--minified &:before {
    content: "+";
  }
}

.s-flash {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 $unit;
  pointer-events: none;

  &__item {
    background: yellow;

    &:before {
      content: '! ';
    }
  }

  &__item.error {
    @extend .s-text--error;
    background: $error-color;

    &:before {
      content: '!! ';
    }
  }
}

.s-flash {

  &--alert, &--error {
    color: red;

    &:before {
      content: "!! ";
    }
  }

  &--notice {
    color: gray;
  }
}