.skrw {
  font-family: Courier;
  font-size: 1.05em;
  line-height: $line-height;

  em {
    font-style: italic;
  }

  strong {
    font-weight: normal;
    text-transform: uppercase;
  }
}

.s-type--secondary {
  @include type-setting(.8);
}

.s-type--error {
  color: red;
}