<% if content_for?(:skrw_page_controls_primary) || content_for?(:skrw_page_controls_secondary) %>
  
  <% if content_for?(:skrw_page_controls_primary) %>
    <div class="s-session__primary-controls">
      <%= content_for(:skrw_page_controls_primary) %>
    </div>
  <% end %>
  
  <% if content_for?(:skrw_page_controls_secondary) %>
    <div class="s-session__secondary-controls">
      <%= content_for(:skrw_page_controls_secondary) %>
    </div>
  <% end %>

<% end %>