<% if flash.any? %>
  <div class="skrw-flashes">
    <% flash.each do |name, msg| %>
      <div class="skrw-flash skrw-flash--<%= name %>">
        <%= msg %>
      </div>
    <% end %>
  </div>
<% end %>