<div class="skrw skrw-session" data-controller="skrw-session" data-action="ajax:success->skrw-session#flash">

  <div class="skrw-flash" data-target="skrw-session.flash">
    <%= render "skrw/sessions/flash" %>
  </div>

  <div class="skrw-session__inner">
    <div>
      <strong><%= current_user.email %></strong> (<%= link_to "logout", skrw.destroy_user_session_path, method: :delete %>)<br>
      ----
    </div>

    <%= content_tag(:div, content_for(:skrw_controls), class: "skrw-session__controls") if content_for?(:skrw_controls) %>
  </div>

  <div class="skrw-session__handle" data-action="click->skrw-session#toggle"></div>
</div>
