<div class="skrw skrw-session" data-controller="skrw-session" data-action="ajax:success->skrw-session#flash">

  <div class="skrw-flash" data-target="skrw-session.flash">
    <%= render "skrw/sessions/flash" %>
  </div>

  <div class="skrw-session__inner">
    <% if user_signed_in? %>
      <div>
        <strong><%= current_user.email %></strong> (<%= link_to "logout", skrw.destroy_user_session_path, method: :delete %>)<br>
        ----
      </div>

      <%= content_tag(:div, content_for(:skrw_controls), class: "skrw-session__controls") if content_for?(:skrw_controls) %>
    <% else %>
      <div>Currently no user logged in.</div>
    <% end %>
  </div>

  <div class="skrw-session__handle" data-action="click->skrw-session#toggle"></div>
</div>
