<div class="skrw-session<%= ' skrw-session--with-controls' if content_for?(:skrw_controls) %>">
  <%= render "skrw/sessions/flashes" %>

  <div class="skrw-session__user">
    <%= render "skrw/sessions/user" %>
  </div>
  
  <% if content_for?(:skrw_controls) %>
    <div class="skrw-session__controls">
      <%= yield :skrw_controls %>
    </div>
  <% end %>
</div>
